$primary-color: white;
$bg: black;
$link-btn-color: rgb(27, 149, 197);

h1 {
  color: $primary-color;
  background-color: $bg;
}

.reviewsList {
  max-height: 450px;
  overflow-y: auto;
}

// Overview Top //
.styleImages {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  max-height: 54vh;
  overflow-y: scroll;
  width: 100px;
}

.eachStyleImage {
  margin-bottom: 5px;
  border-radius: 8px;
  width: 9vh;
  height: 9vh;
  cursor: pointer;
}

.eachStyleImage:hover {
  height: 11vh;
  width: 11vh;
  opacity: 0.4;
}

.defaultView {
  display: flex;
  background-color: rgba(245, 245, 245, 0.137);
  width: 60%;
}

#mainImage {
  width: 80vh;
  height: 60vh;
}

#wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 50vh;
  height: 54vh;
  overflow: hidden;
}

#main {
  position: absolute;
  cursor: zoom-in;
  max-width: 100%;
  min-height: 50%;
  margin-left: 80px;
}

.btnFloating {
  width: 20px;
  height: 20px;
  top: 28%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;

}

.btnFloating:hover {
  width: 25px;
  height: 30px;
}

#right {
  display: 'flex';
  align-items: 'end';
  margin-left: 355px;
}

#left {
  display: 'flex';
  align-items: 'end';
  margin-left: 55px;
}

// Overview bottom //

.reviewTile {
  margin: 16px 10px;
  padding: 10px 12px;
  width: 50%;
  min-width: 580px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;

  .name-date {
    font-size: 14px;
    color: gray;
    float: right;
  }

  h3 {
    margin: 2px 0px;
    font-size: 19px;
  }

  p {
    word-wrap: break-word;
  }

  .showMoreBtn {
    font-size: 15px;
    color: $link-btn-color;
    text-decoration: underline;
  }
}