$primary-color: white;
$bg: black;
$link-btn-color: rgb(27, 149, 197);
$container-bg: whitesmoke;

h1 {
  color: $primary-color;
  background-color: $bg;
}

/* Overview ---------------------(start) */
.styleImages {
  display: flex;
  flex-direction: column;
}

.defaultView {
  display: flex;
}

#main {
  cursor: zoom-in;
}

.btnFloating {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 28%;
  cursor: pointer;
  border: white 1px dotted;
}

#right {
  display: 'flex';
  align-items: 'end';
  margin-left: -22px;
}
/* Overview ---------------------(end) */

/* Related ---------------------(start) */
.related-list {
  height: 15rem;
  width: auto;
}

.product-card-list {
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
}

.product-card {
  background-color: $container-bg;
  background-position: center;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 16rem;
  padding: 5px;
  margin: 5px;

  border: 1px solid black;
  border-radius: 10px;
}
.product-card:hover {
  cursor: pointer;
  color: $link-btn-color;
}

h4 {
  margin: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.507);
  padding: 3px;
  border-radius: 10px 10px 0px 0px;
}

.card-category {
  margin: 0px;
  text-transform: uppercase;
  font-size: 2vh;
}

.card-name {
  margin: 0px;
  font-size: 3vh;
}

.card-price {
  margin: 0px;
}

.card-sale {
  margin: 0px;
}

.card-rating {
  align-self: flex-end;
}
/* Related ---------------------(end) */

/* Reviews ---------------------(start) */
.reviewTile {
  margin: 16px 10px;
  padding: 10px 12px;
  width: 50%;
  min-width: 580px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: $container-bg;

.name-date {
  font-size: 14px;
  color: gray;
  float: right;
}

.reviewsList {
  max-height: 450px;
  overflow-y: auto;
}

.showMoreBtn {
  font-size: 15px;
  color: $link-btn-color;
  text-decoration: underline;
}

h3 {
  margin: 2px 0px;
  font-size: 19px;
}

p {
  word-wrap: break-word;
}
/* Reviews ---------------------(end) */

/* Questions ---------------------(start) */

/* Questions ---------------------(end) */

}